# visit https://giscus.app to get your Giscus ids
NEXT_PUBLIC_GISCUS_REPO=
NEXT_PUBLIC_GISCUS_REPOSITORY_ID=
NEXT_PUBLIC_GISCUS_CATEGORY=
NEXT_PUBLIC_GISCUS_CATEGORY_ID=

# Umami analytics
NEXT_UMAMI_ID=

# Spotify now playing
SPOTIFY_REFRESH_TOKEN=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_CLIENT_ID=

# Github API
GITHUB_API_TOKEN=